@charset "UTF-8";


div.video {
    background-color: #2d6059;
    margin-bottom: 23px;
    margin: 4px 74px;
    padding: 10px;
    padding-bottom: 41%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 83%;
    height: 91%;
  }

  h1{
    
  }
  
  h2{

    background-color: #165f54;
    color: white;
    padding: 5px;
    margin: -7px 10px  0px -10px;
    box-shadow: 4px 3px 7px black;
  }
  
  p{
    margin: 15px 0px;
    font-size: 1.1em;
    text-align: justify;
  }
  body {
    background-color: #2c6c63;
  }
