@charset "UTF-8";


div.video {
    background-color: #2d6059;
    margin-bottom: 30px;
    margin: 0px -1px;
    padding: 10px;
    padding-bottom: 62%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
  }
